@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@media print {
    #filme{
        display: none;
    }
    #legenda{
        display: none;
    }
}

@media screen and (min-width: 700px){
    main{
        display: flex;
        flex-flow: column nowrap;
    }
    #legenda{
        width: 600px;
        margin: 20px auto;
    }
}

@media screen and (min-width: 655px){
    main{
        display: flex;
        flex-flow: column nowrap;
    }
    #filme{
        width: 600px;
        margin: 20px auto;
    }
}